@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }

  30%{
    transform: scale(1,0.8) translate(0px, 10px);
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px);
  }

 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
      text-align:center;
     -webkit-animation: bounce 2s infinite;
}
body {
    background-color: #c0c0c0;
}
.change-to-red{
    color: darkred!important;
    background-color: lightblue;
    transition: color 2s ease;
}
