html {
  scroll-behavior: smooth;
}
.bounce {
    margin-top:20px;
    text-align:center;
}
body {
    background-color: #c0c0c0;
    zoom: 90%;
}
.modal-open{
    zoom:100%;
    transition: zoom 4s ease !important;
}

.input-error{
    border-bottom: 2px solid red!important;
}
#js-top {
    position: fixed!important;
    right: 10px;
    bottom: 10px;
    border-radius: 35px;
    padding: 14px 15px 14px 15px;
}
#js-top i {
    font-size: x-large;
}

@keyframes todoSubjectAnim
{
    0%      {color:black;}
    25%     {color:red;}
    75%     {color:red;}
    100%    {color:black;}
}
@-webkit-keyframes todoSubjectAnim /* Safari and Chrome */
{
    0%      {color:black;}
    25%     {color:red;}
    75%     {color:red;}
    100%    {color:black;}
}
.anim {
    animation:todoSubjectAnim 3s 1;
    -webkit-animation:todoSubjectAnim 3s 1; /* Safari and Chrome */
}

#show-shifter {
    font-size: 16px;
}
.modal-header {
    background: #4285f4!important;
    color: white;
}
.button-container {
    display: block;
    text-align: center;
    margin:-10px 0 0px 0;
    padding-bottom: 5px
}
.content-id-tag {
    padding: 0 10px 0 0;
}
.content_title {
    color:#4285f4;
    margin: 25px 0 7px 0;
}
.todo-box {
    background-color:#f6f6f6;
    margin-bottom: 10px;
}
#shift-form {
    text-align: center;
    display: none
}
.span-1 {
    font-size: 18px;
    font-weight: 500;
}
#from {
    margin: 10px 0 0 20px;
    width: 105px;
    border: 2px solid #33b5e58f;
    border-radius: 5px;
    padding: 5px;
}
.span-2 {
    margin: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 450;
}
#to {
    width: 105px;
    border: 2px solid #33b5e58f;
    border-radius: 5px;
    padding: 5px;
}
#submit {
    font-size: 20px;
    padding: 12px 32px;
}
#search {
    border: 1px solid #4599dd;
    border-radius: 6px;
    padding: 10px;
    margin-top: 50px;
}
.search-form {
    text-align: center;
}
button[name="searchSubmit"] {
    border-radius: 22px;
    padding: 13px 14px 13px 14px;
}
nav {
    padding: 10px;
}
.navbar-brand {
    font-size: 26px;
    font-weight: bold;
}
.nav-button  {
    margin:0;
    padding: 15px 17px;
    border-radius: 26px;
}
#error-message {
    font-size: 13px;
    font-weight: bold;
}
.error-in-input {
    border-bottom: 2px solid red!important;
}
.delete {
    position: absolute;
    right: 50px;
    color: #c81f2a!important;
}
.edit {
    position: absolute;
    left: 50px;
    color: #1e6f80 !important;
}
.fas {
    font-size: 18px
}
.fa-search {
    font-size: large!important;
}
.date-created {
    position: absolute;
    right: 50px;
    margin-top: -40px;
}
.search-box {
    margin-top: 70px;
}
.left-bar {
    border-left: 3px solid #4285f4;
    padding-left: 30px;
    margin-left: 20px;
}
button[type=submit] {
    font-size: large!important;
}
.fa-clock {
    color: #2b1355;
}
.content-pos {
    font-weight: bold;
}

